<a href="https://colab.research.google.com/github/devitam/python_scraping/blob/main/zipcodes_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.zipcodestogo.com/Maryland/'
requests.get(url)
page = requests.get(url, headers = {"User-Agent": "XY"})

In [ ]:
soup = BeautifulSoup(page.text, "lxml")
table_data = soup.find("table", class_ = "inner_table")

In [ ]:
first_row = soup.find("tr", {"style" : "background-color: #F5F5F5;"})
title = first_row.text
title

'\nZip Code\nCity\nCounty\nZip Code Map\n'

In [ ]:
zip_code = title[1:9]
city = title[10:14]
county = title[15:21]
zip_code_map = title[22:len(title)-1]

headers = [zip_code, city, county, zip_code_map]

df = pd.DataFrame(columns = headers)

In [ ]:
for j in table_data.find_all('tr')[2:]:
        row_data = j.find_all('td')
        row = [tr.text for tr in row_data]
        df.loc[len(df)] = row

In [ ]:
df

    Zip Code        City       County Zip Code Map
0      20601     Waldorf      Charles     View Map
1      20602     Waldorf      Charles     View Map
2      20603     Waldorf      Charles     View Map
3      20604     Waldorf      Charles     View Map
4      20606       Abell  Saint Marys     View Map
..       ...         ...          ...          ...
614    21919  Earleville        Cecil     View Map
615    21920   Elk Mills        Cecil     View Map
616    21921      Elkton        Cecil     View Map
617    21922      Elkton        Cecil     View Map
618    21930  Georgetown        Cecil     View Map

[619 rows x 4 columns]

In [ ]:
df.to_csv("zipcodes.csv", index = False, sep = ";")